<ng-template #loading>
    <div class="container_loading">
        <div class="loader">
          <div class="loader-shap"></div>
          <div class="loader-shap"></div>
          <div class="loader-shap"></div>
        </div>
    </div>
</ng-template>


<div class="container" *ngIf="hasresult; else loading">
    <div class="filter">
        <form [formGroup]="range" (ngSubmit)="search()">
            <input type="number" formControlName="from" placeholder="from">
            <input type="number" formControlName="to" placeholder="to">
            <button>Search</button>
        </form>

    </div>
    <div id="result">
    </div>
</div>