<div class="container_loading" *ngIf="!hasresult">
    <div class="loader">
      <div class="loader-shap"></div>
      <div class="loader-shap"></div>
      <div class="loader-shap"></div>
    </div>
</div>


<div class="container main">
    <div class="filter">
        <form [formGroup]="range" (ngSubmit)="search()">
            <input type="number" formControlName="from" placeholder="from">
            <input type="number" formControlName="to" placeholder="to">
            <button>Search</button>
        </form>

    </div>
    <div id="result">
    </div>
</div>